
.App {
  text-align: center;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #acb0b7;
  min-height: 100vh;
}

.App h1 {
  margin-bottom: 40px;
  color: #333;
}
